<br><br>
  <acme-select size="sm">
    <acme-select-header slot="header" label="Seleccione"></acme-select-header>
    <acme-select-option value="1">Opcion 1</acme-select-option>
    <acme-select-option value="2">Opcion 2</acme-select-option>
    <acme-select-option value="3">Opción 3</acme-select-option>
  </acme-select>
  <br><br>
  <acme-select size="sm">
    <acme-select-header slot="header" label="Seleccione"></acme-select-header>
    <acme-select-option value="1">Opcion 1</acme-select-option>
    <acme-select-option value="2">Opcion 2</acme-select-option>
    <acme-select-option value="3">Opción 3</acme-select-option>
  </acme-select>
  <br><br>
  <acme-select size="sm">
    <acme-select-header slot="header" label="Seleccione"></acme-select-header>
    <acme-select-option value="1">Opcion 1</acme-select-option>
    <acme-select-option value="2">Opcion 2</acme-select-option>
    <acme-select-option value="3">Opción 3</acme-select-option>
  </acme-select>
  <br><br>
  <acme-select size="sm">
    <acme-select-header slot="header" label="Seleccione"></acme-select-header>
    <acme-select-option value="1">Opcion 1</acme-select-option>
    <acme-select-option value="2">Opcion 2</acme-select-option>
    <acme-select-option value="3">Opción 3</acme-select-option>
  </acme-select>